@model IEnumerable<TravelBlogDotNet.Models.Experience>

@{
    ViewData["Title"] = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>World Travel</h2>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </th>
        <th></th>
    </tr>

    @foreach (var listItem in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => listItem.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => listItem.Location.LocationName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = listItem.ExperienceId }) |
                @Html.ActionLink("Details", "Details", new { id = listItem.ExperienceId }) |
                @Html.ActionLink("Delete", "Delete", new { id = listItem.ExperienceId })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>